<!DOCTYPE html>
<html >

  <head>

    <meta charset="UTF-8">

    <title>{{ page_title }}</title>

    {% load static %}

    <link rel='stylesheet prefetch' href='https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css'>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  </head>

  <body>
    <div id="body_wrapper">
      {% block content %}

      {% endblock content %}
    </div>
  <script src='https://code.jquery.com/jquery-3.2.1.slim.min.js'></script>
  <script src="https://getbootstrap.com/docs/4.0/dist/js/bootstrap.min.js"></script>

  </body>

</html>
