{% extends "base_login.html" %}

{% block content %}

{% if form.errors %}
  <p class="error">Sorry, that's not a valid username or password</p>
{% endif %}
<div class="logmod">
  <div class="logmod__wrapper">
    <div class="logmod__container">
      <ul class="logmod__tabs">
        <li data-tabtar="lgm-2"><a href="#">Login</a></li>
        <li data-tabtar="lgm-1"><a href="#">Register</a></li>
      </ul>
      <div class="logmod__tab-wrapper">
      <div class="logmod__tab lgm-1">
        <div class="logmod__heading">
          <span class="logmod__heading-subtitle">Enter your personal details <strong>to create an acount</strong></span>
        </div>
        <form action="{% url 'django_auth.register' %}" method="post">{% csrf_token %}
        <div class="logmod__form">
            <div class="sminputs">
              <div class="input full">
                <label class="string optional" for="id_email">Email*</label>
                <input class="string optional" maxlength="255" id="id_email" name="email" placeholder="Email" type="email" size="50" />
              </div>
              <div class="input full">
                <label class="string optional" for="username">Username*</label>
                <input id="id_username" maxlength="30" name="username" type="text" placeholder="Required. 30 characters or fewer. Letters, digits and @/./+/-/_ only"/>
              </div>
            </div>
            <div class="sminputs">
              <div class="input string optional">
                <label class="string optional" for="id_password1">Password *</label>
                <input class="string optional" maxlength="255" placeholder="Password" size="50" id="id_password1" name="password1" type="password"/>
              </div>
              <div class="input string optional">
                <label class="string optional" for="id_password2">Repeat password *</label>
                <input class="string optional" maxlength="255" placeholder="Password" size="50" id="id_password2" name="password2" type="password"/>

              </div>

              <div class="input full">
                <label class="string optional" for="id_phone">Phone Number*</label>
                <input id="id_phone" maxlength="30" name="phone" type="text" placeholder="Your mobile number"/>
              </div>
            </div>
        </div>
          <div class="logmod__alter">
          <div class="logmod__alter-container">
              <div class="connect__context">
                <input type="submit" value="Register"  class="connect googleplus"/>
              </div>
          </div>
        </div>
          </form>
      </div>
      <div class="logmod__tab lgm-2">
        <div class="logmod__heading">
          {% if form.non_field_errors %}
              <ul class='form-errors'>
                  {% for error in form.non_field_errors %}
                      <li>{{ error }}</li>
                  {% endfor %}
              </ul>
          {% endif %}
          <span class="logmod__heading-subtitle">Enter your email and password <strong>to sign in</strong></span><br />
          {{confirmed}}
        </div>
          <form action="{% url 'django_auth.auth' %}" method="post">{% csrf_token %}
        <div class="logmod__form">
            <div class="sminputs">
              <div class="input full">
                <label class="string optional" for="username">Username*</label>
                <input class="string optional" type="text" name="username" value="" id="username" size="50" placeholder="Username">
              </div>
            </div>
            <div class="sminputs">
              <div class="input full">
                <label class="string optional" for="user-pw">Password *</label>
                <input class="string optional" maxlength="255" id="user-pw" placeholder="Password" type="password" size="50" name="password" />
              </div>
            </div>
        </div>
        <div class="logmod__alter">
          <div class="logmod__alter-container">
              <div class="connect__context">
                <input type="submit" value="login"  class="connect facebook"/>
              </div>
          </div>
        </div>
          </form>
          </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}