{% extends "base_login.html" %}

{% block content %}

<div>
    <ul class="nav nav-pills nav-fill" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="login-tab" data-toggle="tab" href="#login" role="tab" aria-controls="login"
               aria-selected="true">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="register-tab" data-toggle="tab" href="#register" role="tab" aria-controls="register"
               aria-selected="false">Register</a>
        </li>
    </ul>
    <div class="tab-content" id="login-reg-tab-content">
        {% if form.errors %}
            {% for error in form.errors.items %}
            <div class="alert alert-danger" role="alert">
              {{ error|escape }}
            </div>
            {% endfor %}
        {% endif %}
        {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
            <div class="alert alert-danger" role="alert">
              {{ error }}
            </div>
            {% endfor %}
        {% endif %}
        {% if reg_message %}
            <div class="alert alert-success" role="alert">
              {{ reg_message }}
            </div>
        {% endif %}
        {% if invalid_user %}
            <div class="alert alert-danger" role="alert">
              Incorrect log in details. Please check email and password.
            </div>
        {% endif %}
        <div class="tab-pane fade show active" id="login" role="tabpanel" aria-labelledby="login-tab">
            <form class="loginregform" action="{% url 'django_auth.auth' %}" method="post">
                {% csrf_token %}
                <div class="form-label-group">
                    <input type="text" id="inputUsername" name="username" class="form-control" placeholder="Username" required>
                    <label for="inputUsername">Username</label>
                </div>

                <div class="form-label-group">
                    <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required>
                    <label for="inputPassword">Password</label>
                </div>

                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" value="remember-me"> Remember me
                    </label>
                </div>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
                <p class="mt-5 mb-3 text-center">
                    Don't have account yet? <a class="fake_link" onclick="showRegister()">Register</a>
                        <br/>
                    <a href="{% url 'password_reset' %}">Forgot Password?</a>
                </p>
            </form>

        </div>
        <div class="tab-pane fade" id="register" role="tabpanel" aria-labelledby="register-tab">
            <form class="loginregform" action="{% url 'django_auth.register' %}" method="post">
                {% csrf_token %}
                <div class="form-label-group">
                    <input type="email" id="email" name="email" class="form-control" placeholder="Email address"
                           required>
                    <label for="email">Email address</label>
                </div>
                <div class="form-label-group">
                    <input type="text" id="id_username" name="username" class="form-control" placeholder="Username">
                    <label for="id_username">Username</label>
                </div>

                <div class="form-label-group">
                    <input type="password" id="id_password1" name="password1" class="form-control"
                           placeholder="Password" required>
                    <label for="id_password1">Password</label>
                </div>
                <div class="form-label-group">
                    <input type="password" id="id_password2" name="password2" class="form-control"
                           placeholder="Repeat Password" required>
                    <label for="id_password2">Repeat Password</label>
                </div>
                <div class="form-label-group">
                    <input type="text" id="id_phone" name="phone" class="form-control" placeholder="Phone Number">
                    <label for="id_phone">Phone Number</label>
                </div>

                <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
                <p class="mt-5 mb-3 text-center">Already registered? <a class="fake_link" onclick="showLogin()">Login</a></p>
            </form>
        </div>
    </div>
</div>
<script src='https://code.jquery.com/jquery-3.2.1.slim.min.js'></script> <!---TODO: fix hardcording -->
<script src="https://getbootstrap.com/docs/4.0/dist/js/bootstrap.min.js"></script>
<script>
    $( document ).ready(function() {
        if ('{{ register }}' == 'True'){
            $('#register-tab').click();
        }
    });

    function showRegister(){
        $('#register-tab').click();
    }
    function showLogin(){
        $('#login-tab').click();
    }
</script>
{% endblock %}